@{
    ViewBag.Title = "Gerenciamento de Jogos";
}

<div class="jumbotron" style= "background: linear-gradient(white, #141d48, white);">
    <h1 style="color: antiquewhite; font-size: 25px; padding:20px; text-shadow: 0 0 20px #fff, 0 -10px 20px #fff, 0 10px 20px #fff, -20px 0 40px #fff, 20px 0 40px #fff;">Gerenciamento de Jogos</h1>
</div>

<div class="row">
    
</div>